#ant stuff
/bin/
/download/
#Remove OS generated garbage
*/.DS_Store
.DS_Store
.DS_Store?
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
Thumbs.db
#gradle stuff
/.gradle
/build/
/libs/
/run*/
/ui/
*.launch
gradle-app.setting
#IDEA files from Gradle
.idea/
/*.iml
/*.ipr
/*.iws
#Vim backups
*~
#manual version override
version.properties
#eclipse stuffs
/.classpath
/.project
/.settings/
/eclipse/
/debug/
*.lock
/.metadata/
/config/
/logs/
options.txt
/saves/
/out
/src_old
/resources_old
/resources/assets/tinker
/resources/assets/unused
/design
/classes/
#custom
*.tmp
/generated/
/run/
/build.old/
/banned-ips.json
/banned-players.json
/ops.json
/whitelist.json
src/generated/resources/.cache/cache
