.git/*
.gradle/*
.idea/*
.settings/*
.metadata/*
bin/*
build/*
run/*
minecraft/*
eclipse/*
.apt_generated/*
.apt_generated_tests/*

.project
.classpath

*.iml
*.ipr
*.iws
*.launch
.factorypath

forge*changelog.txt
