# Tinkers Construct -- Access Transformer
#LivingEntity
public net.minecraft.entity.LivingEntity field_110153_bc # lastDamage

# SlimeEntity
public net.minecraft.entity.monster.SlimeEntity func_70799_a(IZ)V # setSlimeSize
public net.minecraft.entity.monster.MagmaCubeEntity func_70799_a(IZ)V # setSlimeSize

# Item frames
protected net.minecraft.entity.item.ItemFrameEntity func_174865_a(IZ)V # setRotation
protected net.minecraft.entity.item.ItemFrameEntity field_184526_d # ROTATION
protected net.minecraft.client.renderer.entity.ItemFrameRenderer func_82402_b(Lnet/minecraft/entity/item/ItemFrameEntity;)V # renderItem
protected net.minecraft.client.renderer.entity.ItemFrameRenderer field_147917_g # mc
protected net.minecraft.client.renderer.entity.ItemFrameRenderer field_177074_h # itemRenderer

# Block breaking progress
public net.minecraft.client.renderer.WorldRenderer field_72738_E # damagedBlocks

# PlayerInteractionManager - previously ItemInWorldManager
public net.minecraft.server.management.PlayerInteractionManager field_73088_d # isDestroyingBlock

# Explosion
protected net.minecraft.world.Explosion field_77280_f # size
protected net.minecraft.world.Explosion field_77287_j # world
protected net.minecraft.world.Explosion field_77284_b # x
protected net.minecraft.world.Explosion field_77285_c # y
protected net.minecraft.world.Explosion field_77282_d # z
protected net.minecraft.world.Explosion field_77283_e # exploder
protected net.minecraft.world.Explosion field_77281_g # affectedBlockPositions
public net.minecraft.world.Explosion field_222260_b # mode

# ArrowEntity
public net.minecraft.entity.projectile.AbstractArrowEntity field_195056_av # inBlockState
public net.minecraft.entity.projectile.AbstractArrowEntity field_70254_i # inGround
public net.minecraft.entity.projectile.AbstractArrowEntity field_70252_j # ticksInGround
public net.minecraft.entity.projectile.AbstractArrowEntity field_70257_an # ticksInAir
public net.minecraft.entity.projectile.AbstractArrowEntity field_70255_ao # damage
public net.minecraft.entity.projectile.AbstractArrowEntity field_70256_ap # knockbackStrength

public net.minecraft.inventory.container.CraftingResultSlot *
public net.minecraft.inventory.CraftingInventory field_70466_a # stackList

protected net.minecraft.client.particle.BreakingParticle <init>(Lnet/minecraft/client/world/ClientWorld;DDDDDDLnet/minecraft/item/ItemStack;)V

# Minecraft
public net.minecraft.client.Minecraft field_211501_aD # fontResourceMananger

# FontResourceManager
public net.minecraft.client.gui.fonts.FontResourceManager field_238546_d_ # idToFontMap

# FontRenderer
public net.minecraft.client.gui.FontRenderer field_211127_e # font
public net.minecraft.client.gui.FontRenderer field_78298_i # textureManager
public net.minecraft.client.gui.FontRenderer func_228078_a_(Ljava/lang/String;FFILnet/minecraft/client/renderer/Matrix4f;Z)I # renderString
public net.minecraft.client.gui.FontRenderer func_228081_c_(Ljava/lang/String;FFIZLnet/minecraft/client/renderer/Matrix4f;Lnet/minecraft/client/renderer/IRenderTypeBuffer;ZII)F # renderStringAtPos
public net.minecraft.client.gui.FontRenderer func_228077_a_(Lnet/minecraft/client/gui/fonts/TexturedGlyph;ZZFFFLnet/minecraft/client/renderer/Matrix4f;Lcom/mojang/blaze3d/vertex/IVertexBuilder;FFFFI)V # drawGlyph
public net.minecraft.client.gui.FontRenderer func_78259_e(Ljava/lang/String;I)I # sizeStringToWidth

# BlockLootTables
public net.minecraft.data.loot.BlockLootTables field_218581_i # Table Map
public net.minecraft.data.loot.BlockLootTables field_218577_e # field_218577_e
public net.minecraft.data.loot.BlockLootTables field_218579_g # field_218579_g

public net.minecraft.data.loot.BlockLootTables func_218522_a(Lnet/minecraft/block/Block;Ljava/util/function/Function;)V # registerLootTable
public net.minecraft.data.loot.BlockLootTables func_218507_a(Lnet/minecraft/block/Block;Lnet/minecraft/world/storage/loot/LootTable$Builder;)V # registerLootTable
public net.minecraft.data.loot.BlockLootTables func_218515_b(Lnet/minecraft/block/Block;Lnet/minecraft/util/IItemProvider;)Lnet/minecraft/world/storage/loot/LootTable$Builder; # droppingWithSilkTouch
public net.minecraft.data.loot.BlockLootTables func_218513_d(Lnet/minecraft/block/Block;)Lnet/minecraft/world/storage/loot/LootTable$Builder; # droppingSlab
public net.minecraft.data.loot.BlockLootTables func_218511_b(Lnet/minecraft/block/Block;Lnet/minecraft/world/storage/loot/LootEntry$Builder;)Lnet/minecraft/world/storage/loot/LootTable$Builder; # droppingWithShears
public net.minecraft.data.loot.BlockLootTables func_218486_d(Lnet/minecraft/util/IItemProvider;)Lnet/minecraft/world/storage/loot/LootTable$Builder; # onlyWithShears
public net.minecraft.data.loot.BlockLootTables func_218560_a(Lnet/minecraft/util/IItemProvider;Lnet/minecraft/world/storage/loot/ILootConditionConsumer;)Ljava/lang/Object; # withSurvivesExplosion
public net.minecraft.data.loot.BlockLootTables func_218535_c(Lnet/minecraft/block/Block;Lnet/minecraft/world/storage/loot/LootEntry$Builder;)Lnet/minecraft/world/storage/loot/LootTable$Builder; # droppingWithSilkTouchOrShears

# RecipeProvider
public net.minecraft.data.RecipeProvider func_200403_a(Lnet/minecraft/util/IItemProvider;)Lnet/minecraft/advancements/criterion/InventoryChangeTrigger$Instance; # hasItem
public net.minecraft.data.RecipeProvider func_200408_a(Lnet/minecraft/advancements/criterion/MinMaxBounds$IntBound;Lnet/minecraft/util/IItemProvider;)Lnet/minecraft/advancements/criterion/InventoryChangeTrigger$Instance; # hasItem
public net.minecraft.data.RecipeProvider func_200405_a([Lnet/minecraft/advancements/criterion/ItemPredicate;)Lnet/minecraft/advancements/criterion/InventoryChangeTrigger$Instance; # hasItem
public net.minecraft.data.RecipeProvider func_200409_a(Lnet/minecraft/tags/Tag;)Lnet/minecraft/advancements/criterion/InventoryChangeTrigger$Instance; # hasItem

#RecipeManager
public net.minecraft.item.crafting.RecipeManager func_215366_a(Lnet/minecraft/item/crafting/IRecipeType;)Ljava/util/Map; # getRecipes

# StructurePiece
public net.minecraft.world.gen.feature.structure.StructurePiece field_186168_b # mirror
public net.minecraft.world.gen.feature.structure.StructurePiece field_186169_c # rotation

# BlockStateProviderType
public net.minecraft.world.gen.blockstateprovider.BlockStateProviderType <init>(Ljava/util/function/Function;)V

# ContainerScreen
public net.minecraft.client.gui.screen.inventory.ContainerScreen field_146999_f # xSize
public net.minecraft.client.gui.screen.inventory.ContainerScreen field_147000_g # ySize
public net.minecraft.client.gui.screen.inventory.ContainerScreen field_147009_r # guiTop
public net.minecraft.client.gui.screen.inventory.ContainerScreen field_147003_i # guiLeft
public net.minecraft.client.gui.screen.inventory.ContainerScreen func_146977_a(Lnet/minecraft/inventory/container/Slot;)V # drawSlot
public net.minecraft.client.gui.screen.inventory.ContainerScreen func_195362_a(Lnet/minecraft/inventory/container/Slot;DD)Z # isSlotSelected

# Slot
public-f net.minecraft.inventory.container.Slot field_75223_e # xPos
public-f net.minecraft.inventory.container.Slot field_75221_f # yPos

# RenderState - smeltery rendering
public net.minecraft.client.renderer.RenderState field_228520_l_ # SHADE_ENABLED
public net.minecraft.client.renderer.RenderState field_228528_t_ # LIGHTMAP_ENABLED
public net.minecraft.client.renderer.RenderState field_228521_m_ # BLOCK_SHEET_MIPPED
public net.minecraft.client.renderer.RenderState field_228515_g_ # TRANSLUCENT_TRANSPARENCY
public net.minecraft.client.renderer.RenderState field_228491_A_ # CULL_DISABLED
public net.minecraft.client.renderer.RenderState field_239235_M_ # VIEW_OFFSET_Z_LAYERING
public net.minecraft.client.renderer.RenderState field_241712_U_ # ITEM_ENTITY_TARGET
public net.minecraft.client.renderer.RenderState field_228495_E_ # COLOR_DEPTH_WRITE
public net.minecraft.client.renderer.RenderState field_228492_B_ # DEPTH_ALWAYS

# Part builder screen
public net.minecraft.client.renderer.ItemRenderer func_191962_a(Lnet/minecraft/item/ItemStack;IILnet/minecraft/client/renderer/model/IBakedModel;)V # renderItemModelIntoGUI

# WorldRenderer
public net.minecraft.client.renderer.WorldRenderer field_228415_m_ # renderTypeTextures
public net.minecraft.client.renderer.WorldRenderer func_228429_a_(Lcom/mojang/blaze3d/matrix/MatrixStack;Lcom/mojang/blaze3d/vertex/IVertexBuilder;Lnet/minecraft/entity/Entity;DDDLnet/minecraft/util/math/BlockPos;Lnet/minecraft/block/BlockState;)V # drawSelectionBox
public net.minecraft.client.renderer.WorldRenderer func_228445_b_(Lcom/mojang/blaze3d/matrix/MatrixStack;Lcom/mojang/blaze3d/vertex/IVertexBuilder;Lnet/minecraft/util/math/shapes/VoxelShape;DDDFFFF)V # drawShape

# Transparent item models
public net.minecraft.client.renderer.RenderState field_228509_a_ # name
public net.minecraft.client.renderer.RenderType$Type
public net.minecraft.client.renderer.RenderType$Type field_228668_S_ # renderState
public net.minecraft.client.renderer.RenderType$State field_228677_a_ # texture
public net.minecraft.client.renderer.RenderState$TextureState field_228602_Q_ # texture

public net.minecraft.world.gen.blockstateprovider.BlockStateProviderType <init>(Lcom/mojang/serialization/Codec;)V

# Composting
public net.minecraft.block.ComposterBlock func_220290_a(FLnet/minecraft/util/IItemProvider;)V # registerCompostable

# Getter is serverside only, reduces methods in IMaterial
public net.minecraft.util.text.Color field_240740_c_ # color

# Block properties
public net.minecraft.block.Blocks func_235427_a_(Lnet/minecraft/block/BlockState;Lnet/minecraft/world/IBlockReader;Lnet/minecraft/util/math/BlockPos;Lnet/minecraft/entity/EntityType;)Ljava/lang/Boolean; # neverAllowSpawn
public net.minecraft.block.Blocks func_235436_b_(Lnet/minecraft/block/BlockState;Lnet/minecraft/world/IBlockReader;Lnet/minecraft/util/math/BlockPos;)Z # isntSolid

# Beehive harvesting
public net.minecraft.block.BeehiveBlock func_226882_d_(Lnet/minecraft/world/World;Lnet/minecraft/util/math/BlockPos;)Z # hasBees
public net.minecraft.block.BeehiveBlock func_226881_b_(Lnet/minecraft/world/World;Lnet/minecraft/util/math/BlockPos;)V # angerNearbyBees

# Material builder
public net.minecraft.block.material.Material$Builder func_200505_j()Lnet/minecraft/block/material/Material$Builder; # notOpaque
public net.minecraft.block.material.Material$Builder func_200511_g()Lnet/minecraft/block/material/Material$Builder; # pushDestroys
public net.minecraft.block.material.Material$Builder func_200504_e()Lnet/minecraft/block/material/Material$Builder; # flammable

# Slime island settings
public-f net.minecraft.world.gen.settings.DimensionStructuresSettings field_236191_b_ # field_236191_b_

# Making things flammable
public net.minecraft.block.FireBlock func_180686_a(Lnet/minecraft/block/Block;II)V # setFireInfo

# Replacing modifier so the block use context is not all weird
public net.minecraft.item.BlockItemUseContext field_196013_a # replaceClicked

public net.minecraft.world.gen.feature.HugeFungusFeature func_236317_a_(Lnet/minecraft/world/IWorld;Ljava/util/Random;Lnet/minecraft/world/gen/feature/HugeFungusConfig;Lnet/minecraft/util/math/BlockPos;IZ)V # generateStems
public net.minecraft.world.gen.feature.HugeFungusFeature func_236321_b_(Lnet/minecraft/world/IWorld;Ljava/util/Random;Lnet/minecraft/world/gen/feature/HugeFungusConfig;Lnet/minecraft/util/math/BlockPos;IZ)V # generateFungusHat

# Heads
public net.minecraft.item.crafting.FireworkStarRecipe field_196215_d # ITEM_SHAPE_MAP
public net.minecraft.block.AbstractSkullBlock field_196293_a # skullType
public net.minecraft.client.renderer.tileentity.SkullTileEntityRenderer field_199358_e # MODELS
public net.minecraft.client.renderer.tileentity.SkullTileEntityRenderer field_199357_d # SKINS
# Tile entity type injection
public-f net.minecraft.tileentity.TileEntityType field_223046_I # validBlocks

# Chestplate second arm rendering
public net.minecraft.client.renderer.FirstPersonRenderer func_228401_a_(Lcom/mojang/blaze3d/matrix/MatrixStack;Lnet/minecraft/client/renderer/IRenderTypeBuffer;IFFLnet/minecraft/util/HandSide;)V # renderArmFirstPerson

# Blast Protection
public net.minecraft.world.Explosion field_77280_f # size
# Magic protection
public net.minecraft.potion.EffectInstance field_76460_b # duration
# Turtle Shell
public net.minecraft.entity.Entity field_205013_W # eyesInWater
