# Tinkers Construct -- Access Transformer
#LivingEntity
public net.minecraft.world.entity.LivingEntity f_20898_ # lastDamage

# SlimeEntity
public net.minecraft.world.entity.monster.Slime m_7839_(IZ)V # setSlimeSize
public net.minecraft.world.entity.monster.MagmaCube m_7839_(IZ)V # setSlimeSize

# Item frames
protected net.minecraft.world.entity.decoration.ItemFrame m_31772_(IZ)V # setRotation
protected net.minecraft.world.entity.decoration.ItemFrame f_31758_ # ROTATION
protected net.minecraft.client.renderer.entity.ItemFrameRenderer func_82402_b(Lnet/minecraft/entity/item/ItemFrameEntity;)V # renderItem
protected net.minecraft.client.renderer.entity.ItemFrameRenderer f_115047_ # itemRenderer
protected net.minecraft.client.renderer.entity.ItemFrameRenderer f_234645_ # blockRenderer

# Block breaking progress
public net.minecraft.client.renderer.LevelRenderer f_109408_ # damagedBlocks

# PlayerInteractionManager - previously ItemInWorldManager
public net.minecraft.server.level.ServerPlayerGameMode f_9249_ # isDestroyingBlock

# Explsion
# Blast Protection & EFLN
public net.minecraft.world.level.Explosion f_46017_ # radius
# Custom explosion logic
protected net.minecraft.world.level.Explosion f_46012_ # level
protected net.minecraft.world.level.Explosion f_46013_ # x
protected net.minecraft.world.level.Explosion f_46014_ # y
protected net.minecraft.world.level.Explosion f_46015_ # z
protected net.minecraft.world.level.Explosion f_46016_ # source
protected net.minecraft.world.level.Explosion f_46009_ # fire
protected net.minecraft.world.level.Explosion f_46020_ # toBlow
protected net.minecraft.world.level.Explosion f_46019_ # damageCalculator
protected net.minecraft.world.level.Explosion f_46021_ # hitPlayers

# ArrowEntity - enderference
public net.minecraft.world.entity.projectile.AbstractArrow f_36701_ # piercingIgnoreEntityIds
public net.minecraft.world.entity.projectile.AbstractArrow f_36702_ # piercedAndKilledEntities
public net.minecraft.world.entity.projectile.AbstractArrow m_7761_(Lnet/minecraft/world/entity/LivingEntity;)V # doPostHurtEffects
public net.minecraft.world.entity.projectile.Arrow m_7761_(Lnet/minecraft/world/entity/LivingEntity;)V # doPostHurtEffects
public net.minecraft.world.entity.projectile.SpectralArrow m_7761_(Lnet/minecraft/world/entity/LivingEntity;)V # doPostHurtEffects
public net.minecraft.world.entity.projectile.AbstractArrow f_36700_ # soundEvent
public net.minecraft.world.entity.projectile.AbstractArrow m_7941_()Lnet/minecraft/world/item/ItemStack; # getPickupItem
public net.minecraft.world.entity.projectile.Arrow m_7941_()Lnet/minecraft/world/item/ItemStack; # getPickupItem
public net.minecraft.world.entity.projectile.ThrownTrident m_7941_()Lnet/minecraft/world/item/ItemStack; # getPickupItem
public net.minecraft.world.entity.projectile.SpectralArrow m_7941_()Lnet/minecraft/world/item/ItemStack; # getPickupItem

# Fishing hook - tinkers fishing rods
protected net.minecraft.world.entity.projectile.FishingHook <init>(Lnet/minecraft/world/entity/EntityType;Lnet/minecraft/world/level/Level;II)V
protected net.minecraft.world.entity.projectile.FishingHook f_37103_ # life
public net.minecraft.client.renderer.entity.FishingHookRenderer m_174118_(FFFLcom/mojang/blaze3d/vertex/VertexConsumer;Lcom/mojang/blaze3d/vertex/PoseStack$Pose;FF)V # stringVertex

# Thrown trident - throwing tools
protected net.minecraft.world.entity.projectile.ThrownTrident f_37555_ # tridentItem
protected net.minecraft.world.entity.projectile.ThrownTrident f_37556_ # dealtDamage
protected net.minecraft.world.entity.projectile.ThrownTrident f_37558_ # ID_LOYALTY
protected net.minecraft.world.entity.projectile.ThrownTrident f_37554_ # ID_FOIL
# changing despawn duration
protected net.minecraft.world.entity.projectile.AbstractArrow f_36697_ # life

# Reflecting modifier
public net.minecraft.world.entity.projectile.Projectile f_37246_ # leftOwner

public net.minecraft.world.inventory.ResultSlot *
public net.minecraft.world.inventory.CraftingContainer f_39320_ # stackList

protected net.minecraft.client.particle.BreakingItemParticle <init>(Lnet/minecraft/client/multiplayer/ClientLevel;DDDDDDLnet/minecraft/world/item/ItemStack;)V

# Minecraft
public net.minecraft.client.Minecraft f_91045_ # fontResourceMananger

# FontResourceManager
public net.minecraft.client.gui.font.FontManager f_94999_ # idToFontMap

# FontRenderer
public net.minecraft.client.gui.Font f_92713_ # font
public net.minecraft.client.gui.Font field_78298_i # textureManager
public net.minecraft.client.gui.Font func_228078_a_(Ljava/lang/String;FFILnet/minecraft/client/renderer/Matrix4f;Z)I # renderString
public net.minecraft.client.gui.Font func_228081_c_(Ljava/lang/String;FFIZLnet/minecraft/client/renderer/Matrix4f;Lnet/minecraft/client/renderer/IRenderTypeBuffer;ZII)F # renderStringAtPos
public net.minecraft.client.gui.Font func_228077_a_(Lnet/minecraft/client/gui/fonts/TexturedGlyph;ZZFFFLnet/minecraft/client/renderer/Matrix4f;Lcom/mojang/blaze3d/vertex/IVertexBuilder;FFFFI)V # drawGlyph
public net.minecraft.client.gui.Font func_78259_e(Ljava/lang/String;I)I # sizeStringToWidth

# Loot table datagen
protected net.minecraft.data.loot.BlockLootSubProvider f_244531_ # NORMAL_LEAVES_STICK_CHANCES
protected net.minecraft.data.loot.BlockLootSubProvider f_244248_ # HAS_NO_SHEARS_OR_SILK_TOUCH

# RecipeProvider
public net.minecraft.data.recipes.RecipeProvider m_125977_(Lnet/minecraft/world/level/ItemLike;)Lnet/minecraft/advancements/critereon/InventoryChangeTrigger$TriggerInstance; # hasItem
public net.minecraft.data.recipes.RecipeProvider a(Lnet/minecraft/advancements/critereon/MinMaxBounds$Ints;Lnet/minecraft/world/level/ItemLike;)Lnet/minecraft/advancements/critereon/InventoryChangeTrigger$TriggerInstance; # hasItem
public net.minecraft.data.recipes.RecipeProvider m_126011_([Lnet/minecraft/advancements/critereon/ItemPredicate;)Lnet/minecraft/advancements/critereon/InventoryChangeTrigger$TriggerInstance; # hasItem
public net.minecraft.data.recipes.RecipeProvider func_200409_a(Lnet/minecraft/tags/Tag;)Lnet/minecraft/advancements/criterion/InventoryChangeTrigger$Instance; # hasItem

#RecipeManager
public net.minecraft.world.item.crafting.RecipeManager m_44054_(Lnet/minecraft/world/item/crafting/RecipeType;)Ljava/util/Map; # getRecipes

# StructurePiece
public net.minecraft.world.level.levelgen.structure.StructurePiece f_73378_ # mirror
public net.minecraft.world.level.levelgen.structure.StructurePiece f_73379_ # rotation

# BlockStateProviderType
public net.minecraft.world.level.levelgen.feature.stateproviders.BlockStateProviderType <init>(Ljava/util/function/Function;)V

# ContainerScreen
public net.minecraft.client.gui.screens.inventory.AbstractContainerScreen f_97726_ # xSize
public net.minecraft.client.gui.screens.inventory.AbstractContainerScreen f_97727_ # ySize
public net.minecraft.client.gui.screens.inventory.AbstractContainerScreen f_97736_ # guiTop
public net.minecraft.client.gui.screens.inventory.AbstractContainerScreen f_97735_ # guiLeft
public net.minecraft.client.gui.screens.inventory.AbstractContainerScreen func_146977_a(Lnet/minecraft/inventory/container/Slot;)V # drawSlot
public net.minecraft.client.gui.screens.inventory.AbstractContainerScreen m_97774_(Lnet/minecraft/world/inventory/Slot;DD)Z # isSlotSelected

# Slot
public-f net.minecraft.world.inventory.Slot f_40220_ # xPos
public-f net.minecraft.world.inventory.Slot f_40221_ # yPos

# Part builder screen
public net.minecraft.client.renderer.entity.ItemRenderer m_115127_(Lnet/minecraft/world/item/ItemStack;IILnet/minecraft/client/resources/model/BakedModel;)V # renderItemModelIntoGUI

# WorldRenderer
public net.minecraft.client.renderer.LevelRenderer f_109464_ # renderTypeTextures
public net.minecraft.client.renderer.LevelRenderer m_109637_(Lcom/mojang/blaze3d/vertex/PoseStack;Lcom/mojang/blaze3d/vertex/VertexConsumer;Lnet/minecraft/world/entity/Entity;DDDLnet/minecraft/core/BlockPos;Lnet/minecraft/world/level/block/state/BlockState;)V # drawSelectionBox
public net.minecraft.client.renderer.LevelRenderer m_109782_(Lcom/mojang/blaze3d/vertex/PoseStack;Lcom/mojang/blaze3d/vertex/VertexConsumer;Lnet/minecraft/world/phys/shapes/VoxelShape;DDDFFFF)V # drawShape

# Transparent item models
public net.minecraft.client.renderer.RenderStateShard f_110133_ # name
public net.minecraft.client.renderer.RenderType$CompositeRenderType
public net.minecraft.client.renderer.RenderType$CompositeRenderType f_110511_ # renderState
public net.minecraft.client.renderer.RenderType$CompositeState f_110576_ # texture
public net.minecraft.client.renderer.RenderStateShard$TextureStateShard f_110328_ # texture

public net.minecraft.world.level.levelgen.feature.stateproviders.BlockStateProviderType <init>(Lcom/mojang/serialization/Codec;)V

# Composting
public net.minecraft.world.level.block.ComposterBlock m_51920_(FLnet/minecraft/world/level/ItemLike;)V # registerCompostable

# Getter is serverside only, reduces methods in IMaterial

# Block properties
public net.minecraft.world.level.block.Blocks m_50778_(Lnet/minecraft/world/level/block/state/BlockState;Lnet/minecraft/world/level/BlockGetter;Lnet/minecraft/core/BlockPos;Lnet/minecraft/world/entity/EntityType;)Ljava/lang/Boolean; # neverAllowSpawn
public net.minecraft.world.level.block.Blocks m_50805_(Lnet/minecraft/world/level/block/state/BlockState;Lnet/minecraft/world/level/BlockGetter;Lnet/minecraft/core/BlockPos;)Z # isntSolid

# Beehive harvesting
public net.minecraft.world.level.block.BeehiveBlock m_49654_(Lnet/minecraft/world/level/Level;Lnet/minecraft/core/BlockPos;)Z # hasBees
public net.minecraft.world.level.block.BeehiveBlock m_49649_(Lnet/minecraft/world/level/Level;Lnet/minecraft/core/BlockPos;)V # angerNearbyBees

# Material builder
public net.minecraft.world.level.material.Material$Builder m_76360_()Lnet/minecraft/world/level/material/Material$Builder; # notOpaque
public net.minecraft.world.level.material.Material$Builder m_76357_()Lnet/minecraft/world/level/material/Material$Builder; # pushDestroys
public net.minecraft.world.level.material.Material$Builder m_76355_()Lnet/minecraft/world/level/material/Material$Builder; # flammable

# Slime island settings
public-f net.minecraft.world.level.levelgen.StructureSettings f_64580_ # DEFAULTS
public-f net.minecraft.world.level.levelgen.StructureSettings f_189361_ # configuredStructures
public-f net.minecraft.world.level.levelgen.StructureSettings f_64582_ # structureConfig

# Making things flammable
public net.minecraft.world.level.block.FireBlock m_53444_(Lnet/minecraft/world/level/block/Block;II)V # setFireInfo

# Replacing modifier so the block use context is not all weird
public net.minecraft.world.item.context.BlockPlaceContext f_43628_ # replaceClicked

# Slimy Fungus
public net.minecraft.world.level.levelgen.feature.HugeFungusFeature m_284273_(Lnet/minecraft/world/level/WorldGenLevel;Lnet/minecraft/util/RandomSource;Lnet/minecraft/world/level/levelgen/feature/HugeFungusConfiguration;Lnet/minecraft/core/BlockPos;IZ)V # placeStem
public net.minecraft.world.level.levelgen.feature.HugeFungusFeature m_284325_(Lnet/minecraft/world/level/WorldGenLevel;Lnet/minecraft/util/RandomSource;Lnet/minecraft/world/level/levelgen/feature/HugeFungusConfiguration;Lnet/minecraft/core/BlockPos;IZ)V # placeHat

# Heads
public net.minecraft.world.item.crafting.FireworkStarRecipe f_43879_ # ITEM_SHAPE_MAP
public net.minecraft.client.model.geom.ModelLayers f_171262_ # ALL_MODELS
public net.minecraft.client.renderer.blockentity.SkullBlockRenderer f_112519_ # SKINS
# Injecting skull models because vanilla is super hardcoded
public-f net.minecraft.client.renderer.blockentity.SkullBlockRenderer f_173658_ # modelByType
public net.minecraft.client.renderer.blockentity.BlockEntityRenderDispatcher f_112251_ # renderers
public net.minecraft.client.renderer.entity.LivingEntityRenderer f_115291_ # layers
public-f net.minecraft.client.renderer.entity.layers.CustomHeadLayer f_174473_ # skullModels
public net.minecraft.client.renderer.BlockEntityWithoutLevelRenderer f_172546_ # skullModels

# Tile entity type injection
public-f net.minecraft.world.level.block.entity.BlockEntityType f_58915_ # validBlocks

# Chestplate second arm rendering
public net.minecraft.client.renderer.ItemInHandRenderer m_109346_(Lcom/mojang/blaze3d/vertex/PoseStack;Lnet/minecraft/client/renderer/MultiBufferSource;IFFLnet/minecraft/world/entity/HumanoidArm;)V # renderArmFirstPerson

# Magic protection
public net.minecraft.world.effect.MobEffectInstance f_19503_ # duration
# Turtle Shell
public net.minecraft.world.entity.Entity f_19800_ # eyesInWater

# Rendering items in the hotbar
public net.minecraft.client.gui.Gui m_280585_(Lnet/minecraft/client/gui/GuiGraphics;IIFLnet/minecraft/world/entity/player/Player;Lnet/minecraft/world/item/ItemStack;I)V # renderSlot

# Walk based modifiers
public net.minecraft.world.entity.LivingEntity f_20956_ # prevBlockpos
# Antigravity ladders
public net.minecraft.world.entity.LivingEntity f_20899_ # jumping
# Attribute tooltips
public net.minecraft.world.item.Item f_41374_ # ATTACK_DAMAGE_MODIFIER
public net.minecraft.world.item.Item f_41375_ # ATTACK_SPEED_MODIFIER

# Chrysophilite modifier bonus
public net.minecraft.world.level.storage.loot.functions.ApplyBonusCount$Formula
public net.minecraft.world.level.storage.loot.functions.ApplyBonusCount$FormulaDeserializer
public net.minecraft.world.level.storage.loot.functions.ApplyBonusCount f_79898_ # field_215875_a
public net.minecraft.world.level.storage.loot.functions.ApplyBonusCount$FormulaDeserializer m_79970_(Lcom/google/gson/JsonObject;Lcom/google/gson/JsonDeserializationContext;)Lnet/minecraft/world/level/storage/loot/functions/ApplyBonusCount$Formula; # deserialize
public net.minecraft.world.level.storage.loot.functions.ApplyBonusCount$BinomialWithBonusCount
public net.minecraft.world.level.storage.loot.functions.ApplyBonusCount$UniformBonusCount
public net.minecraft.world.level.storage.loot.functions.ApplyBonusCount$OreDrops
public net.minecraft.world.level.storage.loot.functions.ApplyBonusCount$OreDrops <init>()V

# Generics (or lack of) on the mojang method suck
public net.minecraft.network.protocol.game.ClientboundBlockEntityDataPacket <init>(Lnet/minecraft/core/BlockPos;Lnet/minecraft/world/level/block/entity/BlockEntityType;Lnet/minecraft/nbt/CompoundTag;)V

# Loot table injection
public-f net.minecraft.world.level.storage.loot.LootPool f_79023_ # entries

# Armor attribute UUIDs
protected net.minecraft.world.item.ArmorItem f_265987_ # ARMOR_MODIFIER_UUID_PER_TYPE

# Biome temperature modifiers
public net.minecraft.world.level.biome.Biome m_47505_(Lnet/minecraft/core/BlockPos;)F # getTemperature

# Hoe modifiers/block transform AOE
public net.minecraft.world.item.context.UseOnContext m_43718_()Lnet/minecraft/world/phys/BlockHitResult; # getHitResult
public net.minecraft.world.item.HoeItem f_41332_ # TILLABLES

# ResourceLocation validation
public net.minecraft.resources.ResourceLocation m_135843_(Ljava/lang/String;)Z # isValidNamespace
public net.minecraft.resources.ResourceLocation m_135841_(Ljava/lang/String;)Z # isValidPath
public net.minecraft.resources.ResourceLocation f_135806_ # ERROR_INVALID

# Condition context for material manager
public net.minecraft.server.ReloadableServerResources f_206849_ # tagManager

# Slime armor renderer
public net.minecraft.client.renderer.entity.layers.HumanoidArmorLayer f_117070_ # ARMOR_LOCATION_CACHE

# Prevent recursion when setting tool stack tag
public net.minecraft.world.item.ItemStack f_41590_ # tag

# Potion recipes
public net.minecraft.world.item.alchemy.PotionBrewing f_43495_ # CONTAINER_MIXES
public net.minecraft.world.item.alchemy.PotionBrewing f_43494_ # POTION_MIXES
public net.minecraft.world.item.alchemy.PotionBrewing m_43513_(Lnet/minecraft/world/item/alchemy/Potion;Lnet/minecraft/world/item/Item;Lnet/minecraft/world/item/alchemy/Potion;)V # addMix

# Mojang added a private getter for text fields private variable
public net.minecraft.client.gui.components.EditBox m_94222_()Z # isEditable

# Allow seeing the applicable slots for an enchantment for some fallback logic, just in case some mod changes it
public-f net.minecraft.world.item.enchantment.Enchantment f_44671_ # slots

# Enderbark
public net.minecraft.world.level.block.MangrovePropaguleBlock f_221444_ # SHAPE_PER_AGE
protected net.minecraft.world.level.levelgen.feature.rootplacers.MangroveRootPlacer f_225814_ # mangroveRootPlacement

# Allow overriding the name in the recipe provider
public-f net.minecraft.data.recipes.RecipeProvider m_6055_()Ljava/lang/String; # getName

# Shaped recipe extension
public net.minecraft.world.item.crafting.ShapelessRecipe f_44243_ # result
public net.minecraft.world.item.crafting.ShapedRecipe f_44149_ # result
public net.minecraft.world.item.crafting.ShapedRecipe m_44210_(Lcom/google/gson/JsonObject;)Ljava/util/Map; # keyFromJson
public net.minecraft.world.item.crafting.ShapedRecipe m_44186_([Ljava/lang/String;)[Ljava/lang/String; # shrink
public net.minecraft.world.item.crafting.ShapedRecipe m_44196_(Lcom/google/gson/JsonArray;)[Ljava/lang/String; # patternFromJson
public net.minecraft.world.item.crafting.ShapedRecipe m_44202_([Ljava/lang/String;Ljava/util/Map;II)Lnet/minecraft/core/NonNullList; # dissolvePattern

# want to use font in our GuiUtils, so don't be protected
public net.minecraft.client.gui.screens.Screen f_96547_ # font

# Armor trim
public net.minecraft.client.renderer.texture.atlas.sources.PalettedPermutations <init>(Ljava/util/List;Lnet/minecraft/resources/ResourceLocation;Ljava/util/Map;)V

# Checking the current container safely
public net.minecraft.world.inventory.AbstractContainerMenu f_38843_ # menuType

# Tool container crafting
public net.minecraft.world.inventory.CraftingMenu m_150546_(Lnet/minecraft/world/inventory/AbstractContainerMenu;Lnet/minecraft/world/level/Level;Lnet/minecraft/world/entity/player/Player;Lnet/minecraft/world/inventory/CraftingContainer;Lnet/minecraft/world/inventory/ResultContainer;)V # slotChangedCraftingGrid

# Minimap renderer
public net.minecraft.client.renderer.ItemInHandRenderer f_109298_ # MAP_BACKGROUND_CHECKERBOARD
public net.minecraft.client.renderer.ItemInHandRenderer f_109297_ # MAP_BACKGROUND
