# Tinkers Construct -- Access Transformer
# Required for any build system.
# Last update: Minecraft 1.7.2 - 2014 Jan 29 by Progwml6
# EntityArrow - Grabbed 'em all, since so much is accessed
public net.minecraft.entity.projectile.EntityArrow field_145789_f
public net.minecraft.entity.projectile.EntityArrow field_145791_d
public net.minecraft.entity.projectile.EntityArrow field_145792_e
public net.minecraft.entity.projectile.EntityArrow field_70254_i
public net.minecraft.entity.projectile.EntityArrow field_70252_j
public net.minecraft.entity.projectile.EntityArrow field_70257_an
public net.minecraft.entity.projectile.EntityArrow field_70255_ao
public net.minecraft.entity.projectile.EntityArrow field_70256_ap
public net.minecraft.entity.projectile.EntityArrow *() #we need waaaaaaay to much in here to bother going through it
# GuiContainer
#public awy.p #guiLeft
#public awy.q #guiTop
# GuiScreen
#public awe.i #buttonList
# ThreadDownloadImageData
public net.minecraft.client.renderer.ThreadDownloadImageData field_110559_g #field_110559_g
public net.minecraft.client.renderer.ThreadDownloadImageData field_110560_d #field_110560_d

# needs to have a space at the end of every line or SS will derp