# Tinkers Construct -- Access Transformer
# Required for Ant build system.
# Last update: Minecraft 1.6.4 - 2013 Sept 20
# EntityArrow - Grabbed 'em all, since so much is accessed
#public uh.a 
#public uh.au 
#public uh.av 
#public uh.aw 
#public uh.b 
#public uh.c 
#public uh.d 
#public uh.e 
#public uh.f 
#public uh.g 
#public uh.h 
#public uh.i 
#public uh.j 
public net.minecraft.entity.projectile.EntityArrow *() #we need waaaaaaay to much in here to bother going through it
# GuiContainer
#public awy.p #guiLeft
#public awy.q #guiTop
# GuiScreen
#public awe.i #buttonList
# ThreadDownloadImageData
public net.minecraft.client.renderer.ThreadDownloadImageData field_110559_g #field_110559_g
public net.minecraft.client.renderer.ThreadDownloadImageData field_110560_d #field_110560_d

# needs to have a space at the end of every line or SS will derp