# Tinkers Construct -- Access Transformer
# Required for any build system.
# Last update: Minecraft 1.7.2 - 2014 Feb 02 by Progwml6
public net.minecraft.client.gui.inventory.GuiContainer field_146999_f 
public net.minecraft.client.gui.inventory.GuiContainer field_147009_r 
public net.minecraft.client.gui.inventory.GuiContainer field_147003_i 
public net.minecraft.client.gui.inventory.GuiContainer func_146977_a(Lnet/minecraft/inventory/Slot;)V #renderSlot
public net.minecraft.client.gui.inventory.GuiContainer func_146981_a(Lnet/minecraft/inventory/Slot;II)Z #isMouseOverSlot
# GuiScreen
public net.minecraft.client.gui.GuiScreen field_146292_n #buttonList
